# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.user

# Misc
*.log
